
.DS_Store

.idea/JiraVersionsEstimator.iml

.idea/misc.xml

.idea/modules.xml

.idea/workspace.xml

.ipynb_checkpoints/JiraVersionsEstimator-checkpoint.ipynb

notebook.tex

output_2_1.png

output_7_0.png

.ipynb_checkpoints/Epic costs estimation-checkpoint.ipynb

.ipynb_checkpoints/Changes in epic-checkpoint.ipynb

.idea/vcs.xml

.ipynb_checkpoints/Burndown chart for multiple versions-checkpoint.ipynb

.ipynb_checkpoints/Epic costs estimation - extended version for blog-checkpoint.ipynb
