
.DS_Store

.idea/JiraVersionsEstimator.iml

.idea/misc.xml

.idea/modules.xml

.idea/workspace.xml

.ipynb_checkpoints/JiraVersionsEstimator-checkpoint.ipynb

notebook.tex

output_2_1.png

output_7_0.png

.ipynb_checkpoints/Epic costs estimation-checkpoint.ipynb

.ipynb_checkpoints/Changes in epic-checkpoint.ipynb

.idea/vcs.xml

.ipynb_checkpoints/Burndown chart for multiple versions-checkpoint.ipynb

.ipynb_checkpoints/Epic costs estimation - extended version for blog-checkpoint.ipynb

output_14_1.png

.ipynb_checkpoints/SprintEstimation-checkpoint.ipynb

SprintEstimation.ipynb

.ipynb_checkpoints/Backlog health score-checkpoint.ipynb

.ipynb_checkpoints/Burndown chart for multiple versions-Copy1-checkpoint.ipynb

.ipynb_checkpoints/Backlog health score-Extended version for blog-checkpoint.ipynb

.ipynb_checkpoints/Category reporting-checkpoint.ipynb

.ipynb_checkpoints/Bugs analysis-checkpoint.ipynb

.ipynb_checkpoints/Bugs classification by description-checkpoint.ipynb

.ipynb_checkpoints/EMC Burndown chart-checkpoint.ipynb

.ipynb_checkpoints/IC Apps Dashboard-checkpoint.ipynb

.ipynb_checkpoints/IC Apps Dashboard-checkpoint.ipynb

.ipynb_checkpoints/Prediction intervals in Agile forecasting-checkpoint.ipynb

.ipynb_checkpoints/IC Apps Dashboard-checkpoint.ipynb

.ipynb_checkpoints/IC Apps Dashboard-checkpoint.ipynb

.ipynb_checkpoints/R1 EMC estimation-checkpoint.ipynb

.ipynb_checkpoints/Story SP equals subtasks sum-checkpoint.ipynb

.ipynb_checkpoints/IC Apps Dashboard-checkpoint.ipynb

.ipynb_checkpoints/Untitled-checkpoint.ipynb

.ipynb_checkpoints/IC Apps Dashboard-checkpoint.ipynb

.ipynb_checkpoints/IC Apps Dashboard-checkpoint.ipynb

.ipynb_checkpoints/IC Apps Dashboard-checkpoint.ipynb
