
.DS_Store

.idea/JiraVersionsEstimator.iml

.idea/misc.xml

.idea/modules.xml

.idea/workspace.xml

.ipynb_checkpoints/JiraVersionsEstimator-checkpoint.ipynb

notebook.tex

output_2_1.png

output_7_0.png
